.return {
  font-size: 2em;
  font-weight: 900;
  padding-left: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  background-color:  rgb(68, 68, 206);
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

.even1 {
  background-color: rgba(68, 68, 206, 0.466);
}
.first {
  margin-top: -20px;
}