.home-items {
  display: flex;
  max-width: 100vw;
}

.home-item {
  height: 50vw;
  width: 50vw;
  background-color:  rgb(68, 68, 206);
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
